html {
    box-sizing: border-box;
}

body {
    text-align: center;

}

h1 {
    width: 100vh;
    border: 6px solid black;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

a {
    color: black;
}

a:hover {
    color: black;
}

#gameBtns {
    margin-right: auto;
    margin-left: auto;
}

#startBtn {
    background-color: #02BA0F;
    border-radius: 10px;
}

#clearBtn {
    background-color: #D21404;
    border-radius: 10px;
}

button :active {
    transform: translateY(3px);
}

#board {
    margin-top: 20px;
    width: 405px;
    height: 425px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}